

body {
    cursor: none;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../images/artric.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    overflow: auto;
    position: relative;
    cursor: url('../images/swimmer.gif'), auto; /* This sets the diver gif as the cursor */
}

.swimmer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px; /* Adjust these dimensions based on the actual size of your GIF */
    height: 200px;
    background-image: url('../images/swimmer1.gif');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%); /* This will center the div both vertically and horizontally */
}

#cursorGif {
    pointer-events: none; /* Ensures the gif doesn't interfere with any clicks or hover events */
    z-index: 1000; /* Ensure it's on top of other elements */
}
.fish {
    position: absolute;
    max-width: 150px; /* you can adjust this based on your preferences */
    transition: all 0.5s;
}

.phytoplankton {
    position: absolute;
    width: 150px;  /* adjust size as needed*/
    z-index: 0;  /* ensures they are beneath the fish and swimmer*/
    bottom: 50px; /* Adjust this value to control how far above the bottom you want it */
    right: 30%; /* Position at the middle horizontally */
    transform: translateX(50%); /* This ensures it's middle right, not center. Adjust the percentage for fine-tuning. */
    height: auto; /* Retain the original height of the image */
    z-index: 2;

}

.show-text-button:hover {
    background-color: #0056b3;
}
.bubble-hidden {
    display: none;
}

.bubble-visible {
    display: block;
}

#infoBox {
    display: none;
    /* other styles you might want to apply for aesthetics */
    position: fixed;
    bottom: 50px; /* Adjust this value to control how far above the bottom you want it */
    right: 30%; /* Position at the middle horizontally */
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    z-index: 1000;  /* to make sure it appears on top of other content */
}
#displayTextButtonPacific {
    position: absolute;
    bottom: 30px; 
    right: 30%; 
    transform: translateX(50%); 
    padding: 10px 10px;  
    background-color: #007BFF; 
    border: none;        
    color: white;       
    border-radius: 5px;  
    font-size: 1em;    
    cursor: pointer;     
    z-index: 1;  /* Set z-index lower than the phytoplankton */
    opacity: 0.3; /* Starting opacity, making it somewhat transparent */
    animation: flashEffect 1s infinite; /* Flashing animation */
}

@keyframes flashEffect {
    0%, 100% {
        opacity: 0.3; /* Start and end at more transparent state */
    }
    50% {
        opacity: 1; /* Fully visible in the middle */
    }
}